@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto;
  /* background-color: #020306; */
  background-color: #000;
  color: #fff;
}

.backdrop {
  height: 100%;
  overflow: hidden;
}

.mail {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
